<?php
$config = [
    'configuration' => 'debug',
    'json_schemas' => 'data/json-schemas/',
    'project_path' => 'projects/',
    'project_preview_path' => 'images/thumbnails/',
    'project_default_image' => 'default.svg',
    'profile_image_path' => 'images/profile/',
    'profile_default_image' => 'default.svg',
    'email_templates_path' => 'data/email-templates/',
    'google_recaptcha_secret' => '',
    'doctrine-dbal' => [
        'dbname' => '--',
        'user' => '--',
        'password' => 'password',
        'host' => 'localhost',
        'driver' => 'mysqli'
    ],
    'smtp' => [
     	'{accountName}' => [
            'emailAddress' => 'noreply@yourdomain.com',
  	        'displayName' => 'noreply',
  	        'hostname' => 'mail.yourdomain.com',
  	        'port' => '587',
  	        'secure' => 'tls',
  	        'authentication' => true,
  	        'username' => '',
  	        'password' => ''
      ]
    ]
];

define('TWITTER_CONSUMER_SECRET', '');
define('TWITTER_CONSUMER_KEY', '');

define('GOOGLE_APPLICATION_NAME', '');
define('GOOGLE_CLIENT_ID', '');
define('GOOGLE_CLIENT_SECRET', '');


#DEVELOPMENT
define('ROOT_DOMAIN', '.logigator-local-dev.com');
define('GOOGLE_CALLBACK_URL', 'http://logigator-local-dev.com/auth-callback');
define('TWITTER_CALLBACK_URL', 'http://logigator-local-dev.com/auth-callback');

#PRODUCTION
#define('ROOT_DOMAIN', '.logigator.com');
#define('GOOGLE_CALLBACK_URL', 'https://logigator.com/auth-callback');
#define('TWITTER_CALLBACK_URL', 'https://logigator.com/auth-callback');

define('JWT_SECRET_KEY', '');
