<?php
$config = [
	'settings' => [
		'displayErrorDetails' => true,
		'determineRouteBeforeAppMiddleware' => true
	],
	'doctrine-dbal' => [
		'dbname' => '--',
		'user' => '--',
		'password' => 'password',
		'host' => 'localhost',
		'driver' => 'pdo_mysql',
	],
	'smtp' => [
		'{accountName}' => [
			'emailAddress' => 'noreply@yourdomain.com',
			'displayName' => 'noreply',
			'hostname' => 'mail.yourdomain.com',
			'port' => '587',
			'secure' => 'tls',
			'authentication' => true,
			'username' => '',
			'password' => ''
		]
	]
];

define('TWITTER_CALLBACK_URL', 'http://localhost:4200/auth-callback');
define('TWITTER_CONSUMER_SECRET', '--SECRET--');
define('TWITTER_CONSUMER_KEY', '--KEY--');

define('GOOGLE_CALLBACK_URL', 'http://localhost:4200/auth-callback');
define('GOOGLE_APPLICATION_NAME', '--NAME--');
define('GOOGLE_CLIENT_ID', '--ID--');
define('GOOGLE_CLIENT_SECRET', '--SECRET--');

//for development
define('ROOT_DOMAIN', 'logigator-local-dev.com');

//for production
define('ROOT_DOMAIN', 'logigator.com');

define('JWT_SECRET_KEY', '--KEY--');
